{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-6 mx-auto mb-3">
        <h2>About GT Movies Store</h2>
        <hr />
        <p>Welcome to GT Movies Store - your premier destination for digital movie purchases!</p>
        
        <h4>Our Mission</h4>
        <p>We strive to provide movie enthusiasts with easy access to a wide selection of films, from classic masterpieces to the latest releases.</p>
        
        <h4>What We Offer</h4>
        <ul>
          <li>Extensive movie collection</li>
          <li>Secure digital purchases</li>
          <li>User-friendly shopping experience</li>
          <li>Competitive pricing</li>
        </ul>
        
        <h4>How It Works</h4>
        <p>Browse our collection, add your favorite movies to cart, and complete your purchase securely. Your orders will be available in your account for easy access.</p>
        
        <h4>Contact Us</h4>
        <p>Have questions? Contact our support team at support@gtmovies.com</p>
      </div>
      
      <div class="col-md-6 mx-auto mb-3 text-center">
        <img src="{% static 'img/about.jpg' %}" class="max-width-100" alt="about" />
      </div>
    </div>
  </div>
</div>
{% endblock content %}