.bg-index{
  background: url("/static/img/background.jpg") no-repeat
    fixed;
  background-size: 100% auto;
  
}
.img-card-200 {
    width: fit-content;
    max-height: 200px;
  }
  .img-card-400 {
    width: fit-content;
    max-height: 400px;
  }