@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255, 255, 255;
  --text: 23, 23, 23;
}

:root[class='dark'] {
  --background: 17, 24, 39;
  --text: 255, 255, 255;
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--text));
  transition: background-color 0.2s, color 0.2s;
}